@import "styles/variables/colors";
@import "styles/utils/layout/flex";

.formContent {
  @include flexRowMixin($alignItems: center);
  position: relative;

  .input {
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 #00000020;
    outline: none;
    padding: 8px 64px 8px 16px;
    width: 100%;
  }

  .buttonContainer {
    @include flexRowMixin($alignItems: center);
    height: 40px;
    position: absolute;
    right: 0;

    .divider {
      border-right: 1px solid $meliLightGray;
      height: 24px;
      width: 1px;
    }

    .formButton {
      color: $meliGray;
      height: 40px;
      width: 48px;

      .formButtonIcon {
        font-size: 20px;
        margin: auto;
      }
    }
  }
}
