@mixin topLeft($topLeft) {
  border-top-left-radius: $topLeft;
}

@mixin topRight($topRight) {
  border-top-right-radius: $topRight;
}

@mixin bottomRight($bottomRight) {
  border-bottom-right-radius: $bottomRight;
}

@mixin bottomLeft($bottomLeft) {
  border-bottom-left-radius: $bottomLeft;
}

@mixin all($all) {
  @include topLeft($all);
  @include topRight($all);
  @include bottomRight($all);
  @include bottomLeft($all);
}

@mixin boxCornerMixin(
  $top,
  $right,
  $bottom,
  $left,
  $topLeft,
  $topRight,
  $bottomRight,
  $bottomLeft,
  $all
) {
  @if $all {
    @include all($all);
  } @else {
    @if $topLeft {
      @include topLeft($topLeft);
    }
    @if $topRight {
      @include topRight($topRight);
    }
    @if $bottomRight {
      @include bottomRight($bottomRight);
    }
    @if $bottomLeft {
      @include bottomLeft($bottomLeft);
    }
    @if $top or $right or $bottom or $left {
      top: $top;
      right: $right;
      bottom: $bottom;
      left: $left;
    }
  }
}
