@mixin all($all) {
  margin: $all;
}

@mixin leftRight($leftRight) {
  margin-left: $leftRight;
  margin-right: $leftRight;
}

@mixin topBottom($topBottom) {
  margin-bottom: $topBottom;
  margin-top: $topBottom;
}

@mixin marginMixin($top, $right, $bottom, $left, $leftRight, $topBottom, $all) {
  @if $all {
    @include all($all);
  } @else {
    @if $leftRight {
      @include leftRight($leftRight);
    }
    @if $topBottom {
      @include topBottom($topBottom);
    }
    @if $top or $right or $bottom or $left {
      margin-top: $top;
      margin-right: $right;
      margin-bottom: $bottom;
      margin-left: $left;
    }
  }
}
