@mixin all($all) {
  padding: $all;
}

@mixin leftRight($leftRight) {
  padding-left: $leftRight;
  padding-right: $leftRight;
}

@mixin topBottom($topBottom) {
  padding-bottom: $topBottom;
  padding-top: $topBottom;
}

@mixin paddingMixin(
  $top,
  $right,
  $bottom,
  $left,
  $leftRight,
  $topBottom,
  $all
) {
  @if $all {
    @include all($all);
  } @else {
    @if $leftRight {
      @include leftRight($leftRight);
    }
    @if $topBottom {
      @include topBottom($topBottom);
    }
    @if $top or $right or $bottom or $left {
      padding-bottom: $bottom;
      padding-left: $left;
      padding-right: $right;
      padding-top: $top;
    }
  }
}
