@import "styles/utils/containers";
@import "styles/utils/layout/flex";
@import "styles/variables/colors";
@import "styles/variables/mediaQuerySizes";

.header {
  @include fullContainerWidth();
  background-color: $meliYellow;
  height: 64px;

  .headerContent {
    @include flexRowMixin($alignItems: center, $gap: 24px);
    @include fullContainerHeight();
    @include responsiveContainer();

    .navLogo {
      background-image: url("/logos/mercado-libre.svg");
      background-repeat: no-repeat;
      background-size: auto;
      height: 40px;
      overflow: hidden;
      text-indent: -999px;
      width: 50px;

      @media #{$medium} {
        background-image: url("/logos/mercado-libre-text.svg");
        width: 135px;
      }
    }

    .searchBar {
      @include flexItemMixin($grow: 1);
    }

    .exhibitorImage {
      display: none;

      @media #{$large} {
        display: block;
        height: 39px;
        width: 340px;
      }
    }
  }
}
