@import "styles/utils/containers";
@import "styles/variables/mediaQuerySizes";

.pictureContainer {
  border-radius: 4px;
  height: 140px;
  min-height: 140px;
  min-width: 140px;
  overflow: hidden;
  position: relative;
  width: 140px;

  .picture {
    @include center();
    height: 160px;
    object-fit: contain;
    width: 160px;
  }

  @media #{$medium} {
    height: 160px;
    min-height: 160px;
    min-width: 160px;
    width: 160px;
  }
}
