@import "styles/utils/containers";
@import "styles/variables/colors";

.wrapper {
  background-color: white;
  border-top: 1px solid $meliMediumGray;
  padding: 16px 0;

  .container {
    @include responsiveContainer();

    .text {
      color: $meliGray;
      font-size: 12px;
    }

    .bold {
      font-weight: 800;
    }
  }
}
