@import "styles/utils/layout/flex";
@import "styles/variables/colors";

.container {
  @include flexRowMixin(
    $alignItems: center,
    $gap: 16px,
    $justifyContent: center
  );
  margin: 40px auto;

  .pagesCountContainer {
    @include flexRowMixin(
      $alignItems: center,
      $gap: 8px,
      $justifyContent: center
    );

    .currentPageContainer {
      @include flexRowMixin($alignItems: center, $justifyContent: center);
      background-color: #00000015;
      border-radius: 6px;
      height: 40px;
      width: 40px;

      .currentPage {
        color: #00000090;
        font-weight: 600;
      }
    }

    .totalPages {
      color: $meliGray;
      text-align: center;
    }
  }
}
